/* .color_head {

    color: rgb(185, 45, 45);
}

.para_color {

    background-color: rgb(195, 195, 157);
}

#london_header {

    background-color: pink;
} */

/* html {
    scroll-behavior: smooth;
} */

span {

    padding-left: 5px;
    padding-right: 5px;
    border-top: 2px solid black;
    border-bottom: 4px solid gray;
}

#para_box {

    border: 10px ridge lightgreen;
    margin: 5px;
}